{% extends 'base_template.html' %}
{% block style %}
<style>
    .table-condensed>thead>tr>th,
    .table-condensed>tbody>tr>th,
    .table-condensed>tfoot>tr>th,
    .table-condensed>thead>tr>td,
    .table-condensed>tbody>tr>td,
    .table-condensed>tfoot>tr>td {
        padding: 1px;
        font-size: 13px;
        font-weight: bolder;
        text-align: center;

    }

    .table-striped>tbody>tr:nth-child(2n+1)>td {
        font-weight: bolder;
        background-color: #E8EAF6;

    }

    .table-striped>tbody>tr>th {
        font-weight: bolder;
        background-color: #1565C0;

    }

    .table-striped>tbody>tr:nth-child(2n)>td {
        font-weight: bolder;
        background-color: #9FA8DA;

            
    }
</style>
{% endblock %}
{% block content %}
<div>
<a href="{% url 'add-trancation' id=client.id %}">
    <span style="font-size: 30px; font-weight: bolder;">
        {{ client.name }}
    </span>
</a>
<form method="post" action="{% url 'client-ledger' id=client.id %}">
    <select id='firm' name='firm_selected'>
        <!-- <option value="0" selected>All</option> -->
        
        {% for fi in firm %}
            {% if f == fi.id %}
            <option value="{{fi.id}}" selected>{{fi.abs}}</option>
            {% else %}
            <option value="{{fi.id}}">{{fi.abs}}</option>
            {% endif %} 
        {% endfor%}
    </select>
    <input type="submit" class="btn btn-success" value="submit" />
    {% csrf_token %}
</form>
</div>
<table style=" padding-bottom: 0px; margin-bottom: 0px; font-weight: bold;"
    class="table table-condensed table-sm table-striped table-bordered table-hover">
    <tr style="color: white;">
        <th style="width: 5%;">Amount</th>
        <th style="width: 12.5%;">Sector</th>
        <th style="width: 12.5%;">Date</th>
        <th style="width: 10%;">Booking Date</th>
        <th style="width: 40%;">Passenger Name</th>
        <th style="width: 5%;">Balance</th>
        <th style="width: 5%;">Firm</th>
        <th style="width: 5%;">Generate</th>
    </tr>

    {% for trancation in tran %}
    <tr>
        <td style="width: 5%; text-align: right">
            {{ trancation.amount }}</td>
        <td style="width: 10%;">{{ trancation.sector }}</td>
        <td style="width: 12%;">{{ trancation.date }}</td>
        <td>{{ trancation.booking_date | date:'d-M-y' }}</td>
        <td>{{ trancation.passenger_list }}</td>
        <td>
            {{ trancation.bal }}
        </td>
        <td>{{ trancation.firm }}</td>
        <td>
            <a class="btn btn-primary" href="{% url 'client-report' id=trancation.id client_id=client.id firm=f %}"></a>
        </td>
    </tr>


    {% endfor %}

</table>


{% endblock %}